/* ==========================
   RESET
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f3f4f6;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* ==========================
   CONTAINER
========================== */

.container{

    width:1200px;
    background:white;

    border-radius:15px;

    overflow:hidden;

    box-shadow:0 5px 15px rgba(0,0,0,.2);

}

/* ==========================
   HEADER
========================== */

.header{

    background:#1e88e5;

    color:white;

    text-align:center;

    padding:25px;

}

.header h1{

    font-size:30px;

    margin-bottom:10px;

}

.header p{

    font-size:16px;

}

/* ==========================
   MAIN
========================== */

.main{

    display:flex;

    min-height:650px;

}

/* ==========================
   LEFT PANEL
========================== */

.left-panel{

    width:50%;

    padding:35px;

    border-right:1px solid #ddd;

}

.left-panel h2{

    margin-bottom:30px;

    color:#444;

}

/* ==========================
   EMPLOYEE
========================== */

.employee-list{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:20px;

}

.employee-card{

    border:2px solid #ddd;

    border-radius:12px;

    text-align:center;

    padding:20px;

    cursor:pointer;

    transition:.3s;

}

.employee-card:hover{

    border-color:#1e88e5;

    transform:translateY(-5px);

}

.employee-card.active{

    background:#1e88e5;

    color:white;

}

.avatar{

    width:70px;

    height:70px;

    margin:auto;

    background:#ddd;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:30px;

    margin-bottom:15px;

}

.employee-card h3{

    margin-bottom:10px;

}

.employee-card p{

    color:#666;

}

.employee-card small{

    color:#888;

}

/* ==========================
   RIGHT PANEL
========================== */

.right-panel{

    width:50%;

    padding:35px;

    display:flex;

    flex-direction:column;

    align-items:center;

}

.right-panel h3{

    margin-bottom:25px;

}

/* ==========================
   PIN DISPLAY
========================== */

.pin-display{

    display:flex;

    gap:15px;

    font-size:45px;

    margin-bottom:35px;

}

/* ==========================
   KEYPAD
========================== */

.keypad{

    display:grid;

    grid-template-columns:repeat(3,90px);

    gap:15px;

}

.keypad button{

    height:70px;

    font-size:24px;

    border:none;

    background:#f5f5f5;

    border-radius:10px;

    cursor:pointer;

    transition:.2s;

}

.keypad button:hover{

    background:#1e88e5;

    color:white;

}

.login-btn{

    background:#43a047 !important;

    color:white;

}